@use '../variables'
@use '../mixins'
    
.header
    display: block
    text-align: center
    position: fixed
    background-color: variables.$dark-blue
    z-index: 10
    width: 100%
    @include mixins.containerPadding()
    @include mixins.mq(550px)
        display: flex
        justify-content: space-between
        align-items: center

    h1
        font-family: variables.$secondary-font
        @include mixins.text($size: 55px, $weight: 700)
        background: variables.$background-linear-button
        background-clip: text
        color: transparent
        letter-spacing: 2px

    button
        font-family: variables.$primary-font
        padding: 10px 20px
        border-radius: 8px
        border: none
        position: relative
        z-index: 1
        cursor: pointer
        @include mixins.text($size: 16px, $weight: 600, $color: variables.$black)
        &:before
            position: absolute
            border-radius: 8px
            border: none
            content: ""
            top: 0
            left: 0
            width: 0
            z-index: -1
            height: 100%
            background: variables.$background-linear-button
            transition: all .5s linear
        &:hover:before
            color: white
            width: 100%
        @include mixins.mq($width: 769px)
            @include mixins.text($size: 18px, $weight: 600, $color: variables.$black)

    ul
        display: none
        @include mixins.mq(1026px)
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin: auto
            padding: 0
            list-style-type: none

        li
            margin: 2px auto
            font-weight: 600
            display: inline

            a
                text-decoration: none
                color: variables.$white
                cursor: pointer
                &:hover
                    transition: color 0.3s, border 0.1s
                    color: variables.$font-medium-blue

            &:nth-child(-n+3)
                width: 50%
                margin-right: auto
                @include mixins.mq(768px)
                    width: auto
                    margin: 0 10px

            &:nth-child(n+4)
                width: 50%
                margin-left: auto
                @include mixins.mq(768px)
                    width: auto
                    margin: 0 10px
