@use 'variables'
@use 'mixins'
    
body
  font-family: variables.$primary-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: variables.$dark-blue
  color: variables.$white

html
  scroll-behavior: smooth

*
  margin: 0
  padding: 0
  box-sizing: border-box

.container
  @include mixins.grid()
  text-align: center

  .title-container
    @include mixins.text($size: 35px, $weight: 600)
    margin-bottom: 20px
    display: inline-block
    @include mixins.mq(550px)
      @include mixins.text($size: 45px, $weight: 600)
    
    hr
      border: none
      border-bottom: 10px solid variables.$font-light-blue
      width: 60px
