@use 'variables'
    
body
  font-family: variables.$primary-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: variables.$dark-blue
  color: variables.$white

html
  scroll-behavior: smooth

*
    margin: 0
    padding: 0
    box-sizing: border-box

.App
    h1
    font-size: 24px

    li
    font-size: 14px
